<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Document</title>
</head>
<body style="background-image:url(https://images.pexels.com/photos/1762851/pexels-photo-1762851.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) ;  background-size: contain;">
  
{%  extends 'base.html' %}
{% block content%}
  <div class="container-fluid mainpage">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8 welcome">
          <h2>ONE MINUTE PITCH</h2>
          <p>Welcome to one minute pitch</p>
          <p>Suppose in your life, you only have 60 seconds to impress someone. 1 minute can make or break you!!!</p>
          <p>How will you use that one minute to say something meaningful??</p>
          {% if current_user.is_authenticated %}
          <p>You can create your own category to pitch in :<button onclick="toggle_display('.add_category')" type="submit" name="add_category">ADD A CATEGORY</button></p>
          <div class="add_category">
            <form>
              <p><input type="text" name="add_category" placeholder="Enter Category Name" class="form-control">
              <input type="submit"  value="Submit" class="btn btn-default">
              </p>

             </form>
          </div>
          <p><strong>{{message}}</strong></p>
          {%endif%}
          <p>You can select one of the existing categories to pitch in:<button onclick="toggle_display('.select_category')" type="submit" name="add_category">SELECT A CATEGORY</button></p>
          <div class="select_category">
            <ul>
              {%for category in categories%}
                <li><a href="{{url_for('main.pitch', category_id = category.id) }}">{{category.name}}</a></li>
              {% endfor %}
            </ul>
          </div>
          <h2>Use your one minute wisely!! Best of luck!!</h2>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  </div>
{%endblock%}
</body>
</html>
